body {
  background-image: radial-gradient(
    circle,
    #d6d08e,
    #e1d39c,
    #e9d6ac,
    #efdbbc,
    #f2e0cc,
    #f5decd,
    #f7dccf,
    #f8dbd2,
    #fed0cd,
    #ffc6ce,
    #ffbcd5,
    #f7b5e1
  );
  height: 100vh;
  overflow-y: auto;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #a99f3d;
}

.container {
  max-width: 600px;
  margin: 200px auto 20px;
  padding: 0 20px 30px;
}

header {
  text-align: center;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #f6664c;
}

h3 {
  color: #a99f3d;
  font-weight: 300;
}

form {
  text-align: center;
}

.example {
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 13px;
  color: #333333;
}

.user-instructions {
  width: 70%;
  padding: 10px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  border-radius: 50px;
  border: 1px solid #f6664c;
  transition: border-color 0.3s;
}
.button {
  padding: 10px 20px;
  margin-left: 5px;
  width: 20%;
  border-radius: 50px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  color: #333333;
  background-color: #f6664c;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.button:hover {
  background-color: #f0fcf6;
  border: 1px solid #f6664c;
  color: #f6664c;
  cursor: pointer;
}

.generated-recipe {
  padding: 20px;
  margin: 10px;
  background-color: rgba(224, 239, 247, 0.158);
  box-shadow: 10px 10px 5px rgba(248, 188, 196, 0.2);
  font-size: 16px;
  font: bold;
  color: #333333;
  border-left: 3px solid #f6664c;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
  color: #333333;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.generating {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

.recipe-heading,
.ingredient-heading,
.instruction-heading {
  font-weight: bold;
  color: #f6664c;
  margin-top: 20px;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  form {
    padding: 15px;
  }
  .container {
    min-width: 250px;
  }
  .form {
    padding: 15px;
    margin-bottom: 30px;
  }
  .button {
    padding: 10px 15px;
  }
  .user-instructions {
    padding: 10px;
    line-height: 1.5;
  }
  .example {
    margin-top: 5px;
    margin-left: 0;
  }
}
